<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Computational Mathematics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/main.css" disabled="disabled" />
    <link th:href="@{/css/main.css}" rel="stylesheet" disabled="disabled"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
	<h1 class="h1">Sets operations</h1>
	<div class="container container-padding50">
    <form class="form" name="form1" action="#" onsubmit="required()" th:action="@{/}" th:object="${mystatement}" method="post">

	   

        <p><input id="text1" type="text" th:field="*{content1}" placeholder="Set A" class="container1-textinput"/><!--   />-->
        </p><p>
        <input id="text1" type="text" th:field="*{content2}" placeholder="Set B" class="container2-textinput"/><!--  />-->
        </p>
        
        
		<input type="submit" value="Generate" /> 
        <input type="reset" value="Reset" />
    </form>
    
    </div>
    <div>
    <p>Instructions: Write a sentence that represents a set in every box.</p>
	</div>
</body>
</html>
